<!-- <p>home works!</p> -->

<br>
<br>
<div class="col-md-5 m-auto">
    <div class="card shadow-lg rounded-0 text-center p-4">

        <h2 class="fw-bold mb-3">Welcome to ICIN Bank </h2>
        <h5>We offer you actions like Transfer of money, ChequeBook request, Deposit, Withdraw</h5>
        <h3 class="p-3 fw-bolder" style="color: red;">Happy Banking !!!</h3><br>


        <div class="card p-4">
            <h5>Your Savings Account number: {{savingAcc}} </h5>
            <br>
            <h5>Your Savings Account balance : {{savingBalanceLocal}}</h5>
        </div>
    </div>
</div>