<div class="">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand ms-3" routerLink="/home">ICIN Bank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/transactionHistory">Transaction History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/transferHistory">Transfer History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/transfer">Transfer Money</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/cheque">Request Checkbook</a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end me-4">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/register">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login">Signin</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" routerLink="/editprofile">Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/login">Logout</a>
                </li> -->
            </ul>
        </div>
    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>